<tr>
  <td><%= monthly_report.year %></td>
  <td><%= monthly_report.month %></td>
  <td><%= monthly_report.memo %></td>
  <td></td>
  <td></td>
  <td></td>
  <td>
    <%= link_to fa_icon('info-circle', text: '詳細'),
      user_monthly_report_path(monthly_report.user.id, monthly_report.id),
      class: 'btn btn-info btn-xs' %>
  </td>
  <td>
    <%= link_to fa_icon('check-circle', text: '修正'),
      edit_user_monthly_report_path(monthly_report.user.id, monthly_report.id),
      class: 'btn btn-warning btn-xs' %>
    <%= link_to fa_icon('times-circle', text: '削除'),
      user_monthly_report_path(monthly_report.user.id, monthly_report.id),
      method: :delete,
      data: { confirm: '削除してよろしいですか？' },
      class: 'btn btn-danger btn-xs' %>
  </td>
</tr>
